*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.intro{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-image: url('images/start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.intro >.intro-text p, span{
    display: grid;
    text-align: center;
    justify-self: center;
    width: auto;
    margin: auto;
    color:  #000000 ;
    font-size: 50px;
    font-weight: 650;
}

.intro >.intro-text button{
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 1%;
cursor: pointer;
}

.intro >.intro-text a{
    text-decoration: none;
}

.heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #000000;
    font-weight: 600;
}

.content .content-text .cont-text .school{
    text-emphasis-color: black;
}

#div2 .skill .skill-heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #000000;
    font-weight: 600;
}

#div2 .skill .skill-body .container img{
    height: 200px;
}

.projects .projects-container{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.projects .projects-heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #000000;
    font-weight: 600;
    margin-bottom: 3%;
}

.projects{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#reachout{
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}

.reachout-heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #000000;
    font-weight: 600;
    margin-bottom: 3%;
}

.reachout-body .reachout-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name, #email, #message{
    width: 35%;
    margin-top: 1%;
    padding: 10px 10px;
    border-radius: 5px;
}

#butt{
    margin-top: 1%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 17px;
}

#div1 .card{
    margin-left: auto;
    margin-right: auto;
}

    