*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400%, 400%;
    animation: gradient 10s ease infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes gradient{
    0% {
        background-position: 0%, 50%;
    }
    50% {
        background-position: 100%, 50%;
    }
    100% {
        background-position: 0%, 50%;
    }
}

.intro >.intro-text p, span{
    display: grid;
    text-align: center;
    justify-self: center;
    width: auto;
    margin: auto;
    color: #333333 ;
    font-size: 30px;
}

.intro >.intro-text button{
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
}

.content .content-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content .content-text .cont-text{
    text-align: right;
}

.content .content-text .cont-text p{
    width: auto;
    display: flex;
    text-align: justify;
    overflow: wrap;
    margin-left: auto;
    margin-right: 3%;
    font-size: 24px;
}

.heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #23a6d5;
}
.responsive{
    width: auto;
    height: auto;
}
.about{
    margin-right: auto;
    margin-left: auto;
}
.content .content-text .cont-text .school{
    text-emphasis-color: black;
}

#div2 .skill .skill-heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #23a6d5;
}

#div2 .skill .skill-body{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

#div2 .skill .skill-body .container  img{
    width: 70%;
    height: 250px;
    padding: 25px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    align-items: center;
}

.projects .projects-container{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.projects .projects-heading h2{
    text-align: center;
    font-size: 35px;
    margin-top: 5%;
    color: #23a6d5;
    margin-bottom: 3%;
}

.projects{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}